/* Custom column layout */
.two-col {
display: flex;
gap: 0rem;
min-height: 90px;              /* or any height you need */
}

.two-col > .col {
flex: 1 1 0;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
padding: 1.5rem;
/*background: #f1f1f1;*/
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
font-size: large;
}

.col img {
max-height: 50px;
min-width: 100px;
width: auto;                /* maintains aspect ratio */
object-fit: contain;        /* no cropping */
max-width: 100%;            /* prevents overflow */
}

.col img.bigger {
max-height: 70px;
width: auto;                /* maintains aspect ratio */
object-fit: contain;        /* no cropping */
max-width: 100%;            /* prevents overflow */
}



.col img.big {
max-height: 100px;
width: auto;                /* maintains aspect ratio */
object-fit: contain;        /* no cropping */
max-width: 100%;            /* prevents overflow */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill,minmax( 1fr, 500px,));
  gap: 1.5rem;
  padding: 1rem;
}
.card {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card video {
  width: auto;
  height: 80%;
  max-height: 400px !important; 

  display: block;
  object-fit: contain;
}

.card img {
  width: auto;
  height: 80%;
  max-height: 400px !important; 

  display: block;
  object-fit: contain;
}

.card-body {
  padding: 1.25rem;
  padding-top: 0rem;
  flex-grow: 1;
}


.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  font-weight: 500;
  font-size: 1.1rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1.10rem;
  font-weight: 500;
}

.card-text {
  margin-bottom: 1rem;
  color: #212529;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  text-align: right;
}

a.card_link {
  color:#5c5962;
  text-decoration:none;
  display:block; 
}